
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

header {
    text-align: center;
    margin-top: 5%;
    font-family: 'Playfair Display', serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    text-align: center;
    background-color: aliceblue;
    min-height: 20%;
    margin-top: 10%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-family: 'Roboto', sans-serif;

    
    
}


#resultado {
    margin: 2rem;
    min-height: 10%;

}

@media (max-width: 500px) {
    .imagen {
        width: 200px;

    }
}

footer {
    text-align: center;
    margin-top: auto;
}